RewriteEngine On
RewriteBase /

# Specific IPs to ALLOW
# You can change this to match your IP address or add any you'd like on here.
#RewriteCond %{REMOTE_ADDR} !^69\.195\.125\.94$
#RewriteCond %{REMOTE_ADDR} !^8\.8\.8\.8$

# Pages viewable to those not on the whitelist.
RewriteCond %{REQUEST_URI} !^/cpage/index\.html$
RewriteCond %{REQUEST_URI} !^/cpage/under_construction_sign\.jpg$
RewriteCond %{REQUEST_URI} !^/cpage/cone\.svg$ 

#for showing the htaccess code
RewriteCond %{REQUEST_URI} !^/ht$

# Rewrite to the local filepath of what we'd like to display.
RewriteCond %{REQUEST_URI} !^/under_construction_sign\.jpg$ [NC]
RewriteCond %{REQUEST_URI} !^/cone\.svg$ [NC]
RewriteRule ^(.*)$ /cpage/index.html

#Add OTHER files Here Too.
RewriteRule ^under_construction_sign\.jpg$ /cpage/under_construction_sign.jpg [L]
RewriteRule ^cone\.svg$ /cpage/cone.svg [L]
